<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>activity</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.childrecord.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityUpload</display-name>
    <servlet-name>ActivityUpload</servlet-name>
    <servlet-class>com.childrecord.web.ActivityUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityUpload</servlet-name>
    <url-pattern>/ActivityUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObserverFile</display-name>
    <servlet-name>ObserverFile</servlet-name>
    <servlet-class>com.childrecord.web.ObserverFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObserverFile</servlet-name>
    <url-pattern>/ObserverFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninMes</display-name>
    <servlet-name>SigninMes</servlet-name>
    <servlet-class>com.childrecord.web.SigninMes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninMes</servlet-name>
    <url-pattern>/SigninMes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signin</display-name>
    <servlet-name>signin</servlet-name>
    <servlet-class>com.childrecord.web.signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityModify</display-name>
    <servlet-name>ActivityModify</servlet-name>
    <servlet-class>com.childrecord.web.ActivityModify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityModify</servlet-name>
    <url-pattern>/ActivityModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryActivitys</display-name>
    <servlet-name>QueryActivitys</servlet-name>
    <servlet-class>com.childrecord.web.QueryActivitys</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryActivitys</servlet-name>
    <url-pattern>/QueryActivitys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelActivity</display-name>
    <servlet-name>DelActivity</servlet-name>
    <servlet-class>com.childrecord.web.DelActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelActivity</servlet-name>
    <url-pattern>/DelActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityBindQuery</display-name>
    <servlet-name>ActivityBindQuery</servlet-name>
    <servlet-class>com.childrecord.web.ActivityBindQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityBindQuery</servlet-name>
    <url-pattern>/ActivityBindQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.childrecord.web.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>WebFliter</display-name>
    <filter-name>WebFliter</filter-name>
    <filter-class>com.childrecord.util.WebFliter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebFliter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateStudentInfoAndSignupFor</display-name>
    <servlet-name>ValidateStudentInfoAndSignupFor</servlet-name>
    <servlet-class>com.childrecord.web.ValidateStudentInfoAndSignupFor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateStudentInfoAndSignupFor</servlet-name>
    <url-pattern>/ValidateStudentInfoAndSignupFor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserActivity</display-name>
    <servlet-name>UserActivity</servlet-name>
    <servlet-class>com.childrecord.web.UserActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserActivity</servlet-name>
    <url-pattern>/UserActivity</url-pattern>
  </servlet-mapping>
</web-app>